body{
    background-image: url('/images/background.jpg');
    -webkit-background-size: cover;
    font-family: fantasy;
}
h1{

}
.nav {
    background-color: darkred;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: #04AA6D;
    color: white;
}

ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nav li a.selected,
ul.nav li a:hover {
    background-color: yellowgreen;
    color: green;
    padding-top: 20px;

}

ul.nav li A:focus {
    outline: 0;
}

#results{
    float:left;
    margin-left: 75px;
    margin-top: 75px;
    border-style: ridge;
    border-color: darkred;
    border-radius: 100px;
    border-width: 2px;
    background-color: white;
}

#results p{
    color: darkred;
    font-size: 20px;
    padding-left: 100px;
}

#prediction{
    margin-left: 140px;
    font-size: 20px;
    color:darkred;
}

#form{
    margin-top: 75px;
    margin-left: 25px;
    float:left;
    max-width: 400px;
    border-style: ridge;
    border-color: darkred;
    border-radius: 20px;
    border-width: 2px;
    background-color: white;
}

#form label{
    font-size: 20px;
    margin-right: 10px;
}

#form input{
    float: right;
    width: 50px;
}



#graph1{
    margin-top: 25px;
    margin-left: 25px;
    width: 600px;
    background-color: white;
}

#graph2 {
    margin-top: 25px;
    margin-left: 25px;
    width: 600px;
    background-color: white;
}

#graph3 {
    margin-top: 25px;
    margin-left: 25px;
    width: 600px;
    background-color: white;

}
#chemForm{
    display: inline-block;
    padding: 10px;

}